USE [master]
GO
/****** Object:  Database [TurhanKitabevi]    Script Date: 2.08.2023 02:08:00 ******/
CREATE DATABASE [TurhanKitabevi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TurhanKitabevi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TurhanKitabevi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TurhanKitabevi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TurhanKitabevi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TurhanKitabevi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TurhanKitabevi]
GO
/****** Object:  Table [dbo].[KitaplarSet]    Script Date: 2.08.2023 02:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitaplarSet](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[KitapAdi] [nvarchar](max) NOT NULL,
	[KitapSeriNo] [nvarchar](max) NOT NULL,
	[Kategori] [nvarchar](max) NOT NULL,
	[YazarAdi] [nvarchar](max) NOT NULL,
	[SatisFiyati] [int] NOT NULL,
	[StokDurum] [bit] NOT NULL,
 CONSTRAINT [PK_KitaplarSet] PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullanicilarSet]    Script Date: 2.08.2023 02:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullanicilarSet](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NOT NULL,
	[Sifre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KullanicilarSet] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KitaplarSet] ON 

INSERT [dbo].[KitaplarSet] ([KitapID], [KitapAdi], [KitapSeriNo], [Kategori], [YazarAdi], [SatisFiyati], [StokDurum]) VALUES (1, N'Gençler İçin Nutuk', N'9789752401969', N'Söylev', N'Mustafa Kemal Atatürk', 25, 1)
INSERT [dbo].[KitaplarSet] ([KitapID], [KitapAdi], [KitapSeriNo], [Kategori], [YazarAdi], [SatisFiyati], [StokDurum]) VALUES (2, N'Fiziksel Jeodezi', N'9786057839282', N'Akademi', N'Doç.Dr.R.Alpay ABBAK', 60, 1)
SET IDENTITY_INSERT [dbo].[KitaplarSet] OFF
GO
SET IDENTITY_INSERT [dbo].[KullanicilarSet] ON 

INSERT [dbo].[KullanicilarSet] ([KullaniciID], [KullaniciAdi], [Sifre]) VALUES (2, N'admin', N'password')
INSERT [dbo].[KullanicilarSet] ([KullaniciID], [KullaniciAdi], [Sifre]) VALUES (4, N'selimmelih', N'123')
SET IDENTITY_INSERT [dbo].[KullanicilarSet] OFF
GO
USE [master]
GO
